body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

select {
    color: black;
}

select.item-select {
    width: 150px;
    /*background-color: #ccccff;*/
}

select.weapon-select {
    width: 225px;
    /*background-color: #ccccff;*/
}

option:checked {
    color: #000066;
    background-color: #b3c6ff;
}

input[type=number] {
    text-align: right;
    width: 5em;
}

select.enchant-select {
    width: 100px;
}

select.gem-select{
    width: 100px;
}

.run_sim_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 600px;
    height: 60px;
}

/* Change background color of buttons on hover */
.run_sim_button:hover {
    background-color: #adebad;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 666px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 18px;
    display: none;
    overflow-y: scroll;
    max-height: 480px;
    width: 630px;
    background-color: #d9d9d9;
}

.loader div {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #003300; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

p.select-title {
    display: inline;
    font-size: 22px;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

div.scroll {
    margin: 4px;
    padding: 4px;
    background-color: black;
    color: white;
    width: 600px;
    height: 400px;
    overflow-x: auto;
    text-align: justify;
}

div.description {
    margin-left: 25px;
}

/*div.hide_description {
}*/

.left_select {
    position: relative;
    left: 00px;
    /*margin-left: -0px;*/
}

.middle_select {
    position: relative;
    left: 124px;
    /*margin-left: -50px;*/
}

.right_select {
    position: relative;
    left: 240px;
    /*margin-left: 50px;*/
}

.icon {
    width: 36px;
    height: 36px;
    position: relative;
    margin: 1px;
    user-select: none;
    border: 2px solid #fcfff9;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: border-color .2s ease-in;
}

.icon:before {
    content: attr(data-disp);
    position: absolute;
    right: -4px;
    bottom: -4px;
    background: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    z-index: 3;
    font-size: 11px;
    padding: 1px 3px;
    color: #7fffb6;
}

.icon:after {
    content: "";
    width: 39px;
    height: 39px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
}

/*.results_table {
    /*display: inline-block;*/
    /*border-right: thin solid #404040;*/
/*}*/

.talents {
    display: inline-block;
    border-right: thin solid #404040;
}

.checkbox_div {
    vertical-align: top;
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltipicon {
    width: 35px;
    height: 35px;
    position: relative;
    margin: 3px;
    user-select: none;
    border: 1px solid #525252;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: border-color .2s ease-in;
}
